body {
  background-image: url("Hello.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont {
  background-color: white;
  margin-left: 850px;
  padding-bottom: 150px;
  opacity: 0.2;
  border-radius: 30px;
}
.font {
  font-size: 40px;
  font-style: italic;
}
.incont {
  padding-top: 10px;
}
input {
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
}
button {
  margin-left: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  border-color: transparent;
}
